
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #7c7ccc;
    color: white;
    box-shadow: 0 2px 10px rgba(79, 52, 52, 0.2);
}


.logo {
    a{
        text-decoration: none;
    }
    font-size: 22px;
    font-weight: bold;
    color: #00bcd4;
    
}


nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    transition: 0.3s;
}


nav a:hover {
    color: #00bcd4;
}


.btn {
    background: #00bcd4;
    padding: 8px 15px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background: #0097a7;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    font-family: 'Cairo', sans-serif; 
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); 
    padding: 20px;
}


.contact-card {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
    border-top: 5px solid #d4af37;
}

.card-header h2 {
    text-align: center;
    color: #2c3e50;
    margin: 0;
}

.underline {
    width: 50px;
    height: 3px;
    background: #d4af37;
    margin: 10px auto 30px;
}


.field {
    position: relative;
    margin-bottom: 25px;
}

.field input, .field textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background: transparent;
    transition: 0.3s;
    box-sizing: border-box;
    text-align: right;
}

.field label {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
    background: white;
    padding: 0 5px;
}

.field textarea ~ label {
    top: 20px;
}


.field input:focus ~ label,
.field input:not(:placeholder-shown) ~ label,
.field textarea:focus ~ label,
.field textarea:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 12px;
    color: #d4af37;
    font-weight: bold;
}

.field input:focus, .field textarea:focus {
    border-color: #d4af37;
}


.btn-send {
    width: 100%;
    padding: 15px;
    background-color: #2c3e50; /* كحلي غامق وقور */
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.btn-send:hover {
    background-color: #d4af37;
    color: #2c3e50;
}






